{% load i18n %}

{% if containers %}
  <div class="overflow-x-auto" id="container-table">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>{% translate "Container #" %}</th>
          <th>{% translate "Carrier" %}</th>
          <th>{% translate "Status" %}</th>
          <th>{% translate "ETD" %}</th>
          <th>{% translate "ETA" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="container-rows">
        {% for container in containers %}
          {% include "scm/containers/partials/container_row.html" %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div id="container-table">
    {% include "scm/components/table_empty_state.html" with message=_("No containers found.") %}
  </div>
{% endif %}
